<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up And Sign In</title>
    <!-- Enlace al paquete de iconos Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--Link del css-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="container">
        <!-- Caja de formulario para el inicio de sesión -->
        <div class="form-box login">
            <form action="{% url 'login_auth' %}" method="POST">
                {% csrf_token %}
                <h1>Inicia sesión</h1>
                <!-- Campos del formulario -->
                <div class="input-box">
                    <input type="text" placeholder="Nombre de usuario"  id="username" name="username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" id="password" name="password" required>
                    <i class='bx bxs-lock'></i>
                </div>
                <!-- Enlace recuperación de contraseña -->
                <div class="forgot-link">
                    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                </div>
                <!-- Enviar formulario de inicio de sesión -->
                <button type="submit" class="btn">Iniciar sesión</button>
                <!-- Iniciar con Google -->
                <!-- <p>o inicia sesión con</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google'></i></a>
                </div> -->
            </form>
        </div>
        <!-- Caja de formulario para el registro -->
        <div class="form-box register">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h1>Registrate</h1>
                <!-- Campos del formulario -->
                <div class="name-row">
                    <div class="input-box">
                        <input type="text" placeholder="Nombre" id="nombre" name="nombre" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Apellido" id="apellido" name="apellido" required>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Nombre de usuario" id="username" name="username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Correo" id="correo" name="correo" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" id="password" name="password" required>
                    <i class='bx bxs-lock'></i>
                </div>
                <!-- Enviar formulario de registro -->
                <button type="submit" class="btn">Registrarse</button>
                <!-- Registrarse con Google -->
                <!-- <p>o registrate con</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-google' ></i></a>
                </div> -->
            </form>
        </div>
        <!-- Caja de alternancia entre login y registro -->
        <div class="toggle-box">
            <!-- Panel para cambiar a la vista de registro -->
            <div class="toggle-panel toggle-left">
                <h1>Hola, ¡Bienvenido!</h1>
                <p>¿No tienes una cuenta?</p>
                <button class="btn register-btn">Registrate</button>
            </div>
            <!-- Panel para cambiar a la vista de inicio de sesión -->
            <div class="toggle-panel toggle-right">
                <h1>¡Bienvenido de nuevo!</h1>
                <p>¿Ya tienes una cuenta?</p>
                <button class="btn login-btn">Inicia sesión</button>
            </div>
        </div>        
    </div>
    <!--Link del js-->
    <script src="{% static 'js/animacion.js' %}"></script>
</body>
</html>