{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a ProActiva</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>

    <div class="container">
        <div class="text-section">
            <h1>Bienvenido a Kan&Go!</h1>
            <p>"Pequeños pasos cada día suman grandes logros." 📈</p>
        </div>
        <div class="image-section"></div>
    </div>

</body>

{% endblock %}