{% extends 'base.html' %}

{% block title %}Kanban{% endblock %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Tablero Kanban</title>
    <!--Link del estilo-->
    <link rel="stylesheet" href="{% static 'css/kanban.css' %}">
</head>

<body data-url-actualizar="{% url 'tareas:actualizar_estado_tarea' %}">
    <h1>Tablero Kanban: {{ proyecto.nombre_proyecto }}</h1>

    <div class="button-container">
        <button class="add-task-button" onclick="abrirModalCrear()">Nueva tarea</button>

        <!-- <form action="{% url 'etiquetas:listar_etiquetas' %}" method="get"> -->
            <!-- <button type="submit" class="add-task-button">Etiquetas</button> -->
        <!-- </form> -->
    </div>

    <!--Columna "por hacer"-->
    <div class="column todo" ondrop="drop(event, 0)" ondragover="allowDrop(event)">
        <h3>Pendiente</h3>
        {% for tarea in tareas_por_hacer %}
        <div class="task" draggable="true" ondragstart="drag(event)" id="tarea-{{ tarea.tarea_id }}"
            data-id="{{ tarea.tarea_id }}" data-titulo="{{ tarea.titulo }}" data-descripcion="{{ tarea.descripcion }}"
            data-fecha="{{ tarea.fecha_vencimiento }}" data-urgente="{{ tarea.es_urgente|yesno:'true,false' }}"
            data-importante="{{ tarea.es_importante|yesno:'true,false' }}">
            <div class="task-content" onclick="mostrarDetalleTarea(this)">
                {{ tarea.titulo }}
            </div>
            <span class="edit-icon" onclick="abrirModalEditar(this)" data-id="{{ tarea.tarea_id }}"
                data-titulo="{{ tarea.titulo }}" data-descripcion="{{ tarea.descripcion }}"
                data-fecha="{{ tarea.fecha_vencimiento|date:'Y-m-d' }}"
                data-urgente="{{ tarea.es_urgente|yesno:'true,false' }}"
                data-importante="{{ tarea.es_importante|yesno:'true,false' }}">
                ✏️
            </span>
            <span class="delete-icon"
                onclick="abrirModalEliminar('{{ tarea.tarea_id }}', '{{ tarea.titulo }}')">🗑️</span>
            <span class="pomodoro-button" onclick="abrirPomodoro('{{ tarea.titulo }}')">⏰</span>
        </div>
        {% endfor %}
    </div>

    <!--Columna "en proceso"-->
    <div class="column in-progress" ondrop="drop(event, 1)" ondragover="allowDrop(event)">
        <h3>En Proceso</h3>
        {% for tarea in tareas_en_progreso %}
        <div class="task" draggable="true" ondragstart="drag(event)" id="tarea-{{ tarea.tarea_id }}"
            data-id="{{ tarea.tarea_id }}" data-titulo="{{ tarea.titulo }}" data-descripcion="{{ tarea.descripcion }}"
            data-fecha="{{ tarea.fecha_vencimiento }}" data-urgente="{{ tarea.es_urgente|yesno:'true,false' }}"
            data-importante="{{ tarea.es_importante|yesno:'true,false' }}">
            <div class="task-content" onclick="mostrarDetalleTarea(this)">
                {{ tarea.titulo }}
            </div>
            <span class="edit-icon" onclick="abrirModalEditar(this)" data-id="{{ tarea.tarea_id }}"
                data-titulo="{{ tarea.titulo }}" data-descripcion="{{ tarea.descripcion }}"
                data-fecha="{{ tarea.fecha_vencimiento|date:'Y-m-d' }}"
                data-urgente="{{ tarea.es_urgente|yesno:'true,false' }}"
                data-importante="{{ tarea.es_importante|yesno:'true,false' }}">
                ✏️
            </span>
            <span class="delete-icon"
                onclick="abrirModalEliminar('{{ tarea.tarea_id }}', '{{ tarea.titulo }}')">🗑️</span>
            <span class="pomodoro-button" onclick="abrirPomodoro('{{ tarea.titulo }}')">⏰</span>
        </div>
        {% endfor %}
    </div>

    <!--Columna "realizado"-->
    <div class="column done" ondrop="drop(event, 2)" ondragover="allowDrop(event)">
        <h3>Completado</h3>
        {% for tarea in tareas_hechas %}
        <div class="task" draggable="true" ondragstart="drag(event)" id="tarea-{{ tarea.tarea_id }}"
            data-id="{{ tarea.tarea_id }}" data-titulo="{{ tarea.titulo }}" data-descripcion="{{ tarea.descripcion }}"
            data-fecha="{{ tarea.fecha_vencimiento }}" data-urgente="{{ tarea.es_urgente|yesno:'true,false' }}"
            data-importante="{{ tarea.es_importante|yesno:'true,false' }}">
            <div class="task-content" onclick="mostrarDetalleTarea(this)">
                {{ tarea.titulo }}
            </div>
            <span class="edit-icon" onclick="abrirModalEditar(this)" data-id="{{ tarea.tarea_id }}"
                data-titulo="{{ tarea.titulo }}" data-descripcion="{{ tarea.descripcion }}"
                data-fecha="{{ tarea.fecha_vencimiento|date:'Y-m-d' }}"
                data-urgente="{{ tarea.es_urgente|yesno:'true,false' }}"
                data-importante="{{ tarea.es_importante|yesno:'true,false' }}">
                ✏️
            </span>
            <span class="delete-icon"
                onclick="abrirModalEliminar('{{ tarea.tarea_id }}', '{{ tarea.titulo }}')">🗑️</span>
            <span class="pomodoro-button" onclick="abrirPomodoro('{{ tarea.titulo }}')">⏰</span>
        </div>
        {% endfor %}
    </div>

    <!-- Modal de Crear Tarea -->
    <div id="modalCrear" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalCrear()">&times;</span>
            <h2>Crear Tarea</h2>
            <form id="formCrear" method="POST" action="{% url 'tareas:crear_tarea' proyecto.proyecto_id %}">
                {% csrf_token %}
                <input type="hidden" name="proyecto_id" value="{{ proyecto.id }}">

                <label for="id_titulo">Título:</label>
                <input type="text" name="titulo" id="id_titulo" required>

                <label for="id_descripcion">Descripción:</label>
                <textarea name="descripcion" id="id_descripcion" rows="4" required></textarea>

                <label for="id_fecha_vencimiento">Fecha de vencimiento:</label>
                <input type="date" name="fecha_vencimiento" id="id_fecha_vencimiento" required>

                <div class="checkbox-group">
                    <label for="id_es_urgente"><input type="checkbox" name="es_urgente" id="id_es_urgente">¿Es
                        urgente?</label>
                    <label for="id_es_importante"><input type="checkbox" name="es_importante" id="id_es_importante">¿Es
                        importante?</label>
                </div>

                <button class="add-task-button" type="submit">Crear</button>
            </form>
        </div>
    </div>

    <!-- Modal Detalles de Tarea -->
    <div id="modalDetalle" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarDetalleModal()">&times;</span>
            <h2 id="detalleTitulo"></h2>
            <p><strong>Descripción:</strong> <span id="detalleDescripcion"></span></p>
            <p><strong>Fecha de vencimiento:</strong> <span id="detalleFecha"></span></p>
            <p><strong>Urgente:</strong> <span id="detalleUrgente"></span></p>
            <p><strong>Importante:</strong> <span id="detalleImportante"></span></p>
            <button class="add-task-button" onclick="abrirModalCrearEtiqueta()">Nueva Etiqueta</button>
        </div>
    </div>

    <!-- Modal de Confirmar Eliminación -->
    <div id="modalEliminar" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalEliminar()">&times;</span>
            <h2>¿Estás seguro de que deseas eliminar la tarea <span id="nombreTareaEliminar"></span>?</h2>
            <form id="formEliminar" method="POST">
                {% csrf_token %}
                <button type="submit">Sí, eliminar</button>
            </form>
        </div>
    </div>

    <!-- Modal de Editar -->
    <div id="modalEditar" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalEditar()">&times;</span>
            <h2>Editar tarea</h2>
            <form id="formEditar" method="post">
                {% csrf_token %}
                <input type="hidden" id="edit_tarea_id" name="tarea_id">
                <label>Título: <input type="text" id="edit_titulo" name="titulo"></label>
                <label>Descripción: <textarea id="edit_descripcion" name="descripcion"></textarea></label>
                <label>Fecha de vencimiento: <input type="date" id="edit_fecha_vencimiento"
                        name="fecha_vencimiento"></label>
                <div class="checkbox-group">
                    <label><input type="checkbox" id="edit_es_urgente" name="es_urgente">Es urgente</label>
                    <label for="id_es_importante"><input type="checkbox" id="edit_es_importante"
                            name="es_importante">Importante</label>
                </div>
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
    </div>

    <!-- Modal Crear Etiqueta -->
    <div id="modalCrearEtiqueta" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalCrearEtiqueta()">&times;</span>
            <h2>Crear Nueva Etiqueta</h2>
            <form id="formCrearEtiqueta" method="POST" action="{% url 'etiquetas:crear_etiqueta' %}">
                {% csrf_token %}
                <label for="id_etiqueta">Nombre de la Etiqueta:</label>
                <input type="text" name="etiqueta" id="id_etiqueta" required>

                <label for="id_color">Color:</label>
                <input type="color" name="color" id="id_color">

                <button type="submit" class="add-task-button">Crear Etiqueta</button>
            </form>
        </div>
    </div>


    <!--Link del js-->
    <script src="{% static 'js/tareas.js' %}"></script>
    <script src="{% static 'js/etiquetas.js' %}"></script>
</body>

</html>
{% endblock %}