{% extends 'base.html' %}

{% block title %}Usuarios{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">

{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-120 px-3">
    <div class="card shadow-lg bg-white rounded-4 p-4 m-4 col-lg-9 col-md-10 col-sm-12">
        <h2>Gestión de Usuarios</h2>
        <hr class="border-1 opacity-75 mt-1">

        <!-- Botón para agregar usuario -->
        <button onclick="abrirModalCrear()">Crear nuevo usuario</button>

        <!-- Botón para agregar rol -->
        <button onclick="abrirModalCrearR()">Crear nuevo rol</button>

        <!-- Tabla de Usuarios -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover rounded-3 overflow-hidden">
                <thead class="text-white">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Nombre de Usuario</th>
                        <th class="text-center">Correo</th>
                        <th class="text-center">Rol</th>
                        <th class="text-center">Acciones Usuario</th>
                        <th class="text-center">Acciones Rol</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td class="align-middle text-center">{{ usuario.usuario_id }}</td>
                        <td class="align-middle">{{ usuario.nombre }}</td>
                        <td class="align-middle">{{ usuario.apellido }}</td>
                        <td class="align-middle">{{ usuario.username }}</td>
                        <td class="align-middle">{{ usuario.correo }}</td>
                        <td class="align-middle">{{ usuario.rol_id.rol }}</td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                <span class="edit-icon" onclick="abrirModalEditar(this)"
                                    data-id="{{ usuario.usuario_id }}" data-nombre="{{ usuario.nombre }}"
                                    data-apellido="{{ usuario.apellido }}" data-nombre_usuario="{{ usuario.username }}"
                                    data-correo="{{ usuario.correo }}" data-rol_id="{{ usuario.rol_id.rol_id }}">
                                    ✏️
                                </span>
                                <a href="javascript:void(0);"
                                    onclick="abrirModalEliminar('{{ usuario.usuario_id }}', '{{ usuario.nombre }}', '{{ usuario.apellido }}')">🗑️
                                </a>
                            </div>
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                <!-- Botón editar rol -->
                                <span class="edit-icon" onclick="abrirModalEditarR(this)"
                                    data-rol_id="{{ usuario.rol_id.rol_id }}" data-rol="{{ usuario.rol_id.rol }}">
                                    ✏️
                                </span>

                                <!-- Botón eliminar rol -->
                                <a href="javascript:void(0);"
                                    onclick="abrirModalEliminarR('{{ usuario.rol_id.rol_id }}', '{{ usuario.rol_id.rol|escapejs }}')">
                                    🗑️
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Modal de Crear Usuario -->
        <div id="modalCrear" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModalCrear()">&times;</span>
                <h2>Crear nuevo Usuario</h2>
                <form id="formCrear" method="POST" action="{% url 'crear_usuario' %}">
                    {% csrf_token %}

                    <label for="id_nombre">Nombre:</label>
                    <input type="text" name="nombre" id="id_nombre" required>

                    <label for="id_apellido">Apellido:</label>
                    <input type="text" name="apellido" id="id_apellido" required>

                    <label for="id_username">Nombre de Usuario:</label>
                    <input type="text" name="username" id="id_username" required>

                    <label for="id_correo">Correo:</label>
                    <input type="email" name="correo" id="id_correo" required>

                    <label for="id_rol_id">Rol:</label>
                    <select name="rol_id" id="id_rol_id" required>
                        {% for rol in roles %}
                        <option value="{{ rol.rol_id }}">{{ rol.rol }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Crear Usuario</button>
                </form>
            </div>
        </div>

        <!-- Modal de Editar -->
        <div id="modalEditar" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModalEditar()">&times;</span>
                <h2>Editar usuario</h2>
                <form id="formEditar" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="edit_usuario_id" name="usuario_id">
                    <label>Nombre: <input type="text" id="edit_nombre" name="nombre"></label>
                    <label>Apellido: <input type="text" id="edit_apellido" name="apellido"></label>
                    <label>Nombre de usuario: <input type="text" id="edit_nombre_usuario" name="username"></label>
                    <label>Correo: <input type="email" id="edit_correo" name="correo"></label>
                    <label for="edit_rol_id">Rol:</label>
                    <select name="rol_id" id="edit_rol_id">
                        {% for rol in roles %}
                        <option value="{{ rol.rol_id }}">{{ rol.rol }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>

        <!-- Modal de Confirmar Eliminación -->
        <div id="modalEliminar" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModalEliminar()">&times;</span>
                <h2>¿Estás seguro de que deseas eliminar al usuario <span id="nombreUsuarioEliminar"></span>?</h2>
                <form id="formEliminar" method="POST">
                    {% csrf_token %}
                    <button type="submit">Sí, eliminar</button>
                </form>
            </div>
        </div>

        <!-- Modal Crear Rol -->
        <div id="modalCrearR" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModalCrearR()">&times;</span>
                <h2>Crear Rol</h2>
                <form id="formCrear" method="POST" action="{% url 'crear_rol' %}">
                    {% csrf_token %}
                    <input type="text" name="rol" placeholder="Nombre del rol" required>
                    <button type="submit" class="btn verde">Crear Rol</button>
                </form>
            </div>
        </div>

        <!-- Modal Editar Rol -->
        <div id="modalEditarR" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModalEditarR()">&times;</span>
                <h2>Editar rol</h2>
                <form id="formEditarRol" method="POST">
                    {% csrf_token %}
                    <label>Selecciona un rol:</label>
                    <select id="edit_rol_id_select" onchange="actualizarInputRol(this)">
                        {% for rol in roles %}
                        <option value="{{ rol.rol_id }}" data-nombre="{{ rol.rol }}">{{ rol.rol }}</option>
                        {% endfor %}
                    </select>

                    <label>Nuevo nombre del rol:</label>
                    <input type="text" name="rol" id="editRolNombre" required>

                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>

        <!-- Modal de Confirmar Eliminación de Rol -->
        <div id="modalEliminarR" class="modal">
            <div class="modal-content">
                <span class="close" onclick="cerrarModalEliminarR()">&times;</span>
                <h2>¿Estás seguro de que deseas eliminar el siguiente rol?</h2>

                <form id="formEliminarRol" method="POST">
                    {% csrf_token %}

                    <label for="selectRolEliminar">Selecciona un rol:</label>
                    <select id="selectRolEliminar" name="rol_id" onchange="actualizarNombreRolEliminar(this)">
                        {% for rol in roles %}
                        <option value="{{ rol.rol_id }}" data-nombre="{{ rol.rol }}">{{ rol.rol }}</option>
                        {% endfor %}
                    </select>

                    <!-- Campo oculto para el ID -->
                    <input type="hidden" id="hiddenRolId" name="rol_id_hidden">

                    <p>Rol seleccionado: <strong id="nombreRolEliminar"></strong></p>

                    <button type="submit">Sí, eliminar</button>

                </form>
            </div>
        </div>

    </div>
</div>
<!--Link del js-->
<script src="{% static 'js/usuarios.js' %}"></script>
{% endblock %}